<div style="margin-bottom: 10px;">
  <li><a href="/">paypal-rest-sdk（エクスプレス チェックアウト）</a></li>
  <li><a href="/web-payment-standard/">ウェブ ペイメント スタンダード</a></li>
  <li><a href="/wps2/">ウェブ ペイメント スタンダード-2（サーバー側で決済情報を指定）</a></li>
  <li><a href="/wps3/">ウェブ ペイメント スタンダード-3（サーバー側でAPIを叩く）</a></li>
</div>