<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- ペイパルのjavascript SDK -->
  <!-- client-id=＜クライアントID＞と置き換える -->
  <script src="https://www.paypal.com/sdk/js?client-id=<%= client_id %>&locale=ja_JP&currency=JPY&components=buttons,funding-eligibility&intent=capture"></script>
  </script>
</head>

<body>
  <%- include(`./_link`) %>

  <h3>ウェブ ペイメント スタンダード</h3>
  <div id="paypal-button-container"></div>

  <!-- Add the checkout buttons, set up the order and approve the order -->
  <script>
    paypal.Buttons({
      // クレジットカードボタンのみ表示する
      // fundingSource: paypal.FUNDING.CARD,

      createOrder: function (data, actions) {
        var res = actions.order.create({
          intent: 'CAPTURE',
          application_context: {
            brand_name: "社名",
            shipping_preference: "NO_SHIPPING",	//これがあると、ペイパルアカウントの履歴に住所が記録されない
          },
          payer: {
            name: {
              given_name: "タロウ",
              surname: "タナカ"
            },
            address: {
              address_line_1: '1-2-3',
              address_line_2: '',
              admin_area_2: '〇〇区〇〇',
              admin_area_1: '東京都',
              postal_code: '123-4567',
              country_code: 'JP'
            },
            email_address: "buyer@example.com",
            phone: {
              phone_type: "MOBILE",
              phone_number: {
                national_number: "819034567890"
              }
            }
          },
          purchase_units: [{
            amount: {
              currency_code: "JPY",
              value: '100'
            },
          }],
          invoice_id: 111,
          custom_id: 222
        });
        console.log(res);
        return res
      },
      onApprove: function (data, actions) {
        return actions.order.capture().then(function (details) {
          alert('Transaction completed by ' + details.payer.name.given_name);
          // actions.redirect('http://localhost:3000/web-payment-standard/success/'); // Redirect to complete page
          window.location.href = "/web-payment-standard/success/";
        });
      },
      onCancel: function (data) {
        alert("canceled");
      },
      onError: function (err) {
        alert("error");
        window.location.href = "/web-payment-standard/error/";
      }
    }).render('#paypal-button-container'); // Display payment options on your web page

		// paypal.Buttons({
		// 	createOrder: function () {
		// 		return fetch('./create', {
		// 			method: 'post',
		// 			headers: {
		// 				'content-type': 'application/json'
		// 			}
		// 		}).then(function (res) {
		// 			console.log(res);
		// 			return res.json();
		// 		}).then(function (data) {
		// 			console.log("=============");
		// 			console.log(data.orderID);
		// 			return data.orderID; // Use the same key name for order ID on the client and server
		// 		});
		// 	},
		// 	onApprove: function (data) {
		// 		console.log("-----------------==");
		// 		console.log(data);
		// 		return fetch('/my-server/capture-paypal-transaction', {
		// 			headers: {
		// 				'content-type': 'application/json'
		// 			},
		// 			body: JSON.stringify({
		// 				orderID: data.orderID
		// 			})
		// 		}).then(function (res) {
		// 			return res.json();
		// 		}).then(function (details) {
		// 			alert('Transaction funds captured from ' + details.payer_given_name);
		// 		})
		// 	}
		// }).render('#paypal-button-container2'); // Display payment options on your web page
  </script>
</body>

</html>