<form class="css4" id="submit_form" method="post" onchange="SubmitForm()">
	<div>
		<p>■対象学年■</p>
		<select id="gradeList" name="grade">
			<option value="all">全て</option>
			<option value="2">2年生</option>
			<option value="3">3年生</option>
			<option value="4">4年生</option>
			<option value="5">5年生</option>
			<option value="6">6年生</option>
			<option value="other">その他</option>
		</select>
	</div>
	<%- include(`${routespath}/../public/ejs/rowLimit`) %>
	<input class="reset-btn" type="button" value="全条件リセット" onclick="ResetForm()">
</form>

<script type="text/javascript">
	function SubmitForm() {
		var target = document.getElementById("submit_form");
		target.method = "post";
		target.submit();
	}

	function ResetForm() {
		/* 確認ダイアログ */
		if (window.confirm('絞り込み条件をリセットしますか？')) {
			$('#gradeList').val(["all"]);
			$('#rowLimitList').val(["20"]);
			var target = document.getElementById("submit_form");
			target.method = "post";
			target.submit();
		}
		else {
			return false;   // キャンセルで削除を中止
		}
	}

	window.addEventListener("DOMContentLoaded", () => {
		$('#gradeList').val(['<%= grade %>']);   //プルダウンの初期状態
	});
</script>