<div style="width: 160px;">
	■表示件数■
	<select class="selectbox" id="pageSizelist" name="pageSize">
		<option value="10">10件</option>
		<option value="20">20件</option>
		<option value="50">50件</option>
		<option value="100">100件</option>
		<option value="200">200件</option>
		<option value="300">300件</option>
	</select>
</div>

<script>
	window.addEventListener("DOMContentLoaded", function () {
		$('#pageSizelist').val(["<%=pageSize %>"]);
	});
</script>