<!DOCTYPE html>
<html>

<head>
	<title><%= pageName %></title>
	<link rel="stylesheet" href="/manage/stylesheets/style.css" />
	<!-- jQueryのCDN -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
	<%- include(`${routespath}/../public/ejs/header`) %>
	<div class="css1">
		<input class="btn1" type="button" onclick="location.href='/manage/<%= filepath %>/page2/'" value="page2へ">
	</div>

	<script>
		var ref = document.referrer;             // リファラ情報を得る
		console.log('--------ref--------\n', ref);
		var hereHost = window.location.hostname; // 現在ページのホスト(ドメイン)名を得る
		console.log('--------hereHost--------\n', hereHost);
	</script>
</body>

</html>